.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

body {
  background-color: rgb(236, 242, 245);
  font-size: medium
}

h1, h2{
  color:rgb(68, 29, 139);
  font-size: large;
  
}

p{
  font-size: x-small;
}
