.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

body {
  background-color: rgb(192, 219, 228);
}

h1, h2{
  color:rgb(179, 98, 216);
  font-size: medium;
  
}

p{
  font-size: x-small;
}
