/*
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

.home-section{
  background-color: rgb(230, 230, 230);
  font-size: 17px;
}

body {
  background-color: rgb(230, 230, 230);
  font-size: 17px;
}

h1, h2{
  color: #990000;
  font-size: 20px;
  font-weight: bold;
  
}

p{
  font-size: 17px;
}
*/